body{
}
#banner{
    width: 1200px;
    height: 100px;
    margin: auto;
}
#logo{
    margin-left: 300px;
    width: 150px;
    height: 100px;
    float: left;
}
#logo img{
    width: 100%;
    height: 100%;
}
#search{
    width: 400px;
    height: 100px;
    float: left;
}
#formsearch{
    width: 300px;
    margin-left: 20px;
    margin-top: 40px;
    float: left;
}
#timkiem{
    float: left;
    margin-top: 40px;
}
#header{
    width: 1200px;
    height: 30px;
    margin: auto;
}
#main{
    width: 1200px;
    height: 2350px;
    margin: auto;
}
#title p{
    margin-left: 50px;
}
#countinue img{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
#content{
    width: 1000px;
    height: 2336px;
    margin-top: 16px;
    margin-left: 110px;
    background-color: lightsalmon;
}
#tieudetheloai{
    margin-bottom: 100px;
}
#anhtruyen{
    float: left;
    margin-left: 20px;
    margin-right: 50px;
}
#thongtintruyen{
    float: left;
    text-align: left;
}
#doraemon{  }
#noidungchinh{
    clear: both;
    margin-top: 30px;
}
#chuong{

}
#footer{
    background-color: gray;
    width: 1200px;
    height: 150px;
    clear: both;
    margin: auto;
}
/*menu ngang*/
#head{
    width: 60%;
    margin: auto;
}
#head-link ul li{
    display: inline;
    margin: 5px;
}
#head ul, #head li{
    padding:0;
    margin:0;
}
#head li{
    position: relative;
    float: left;
    list-style: none;
    margin: 0;
    padding:0;
}
#head li a{
    width:100px;
    height: 30px;
    display: block;
    text-decoration:none;
    text-align: center;
    line-height: 30px;
    color: black;
}
#head ul ul li a{
    width: 200px;
    text-align: left;
    padding-left: 10px;
}
#head li a:hover{
    background-color: white;
}
#head ul ul{
    position: absolute;
    top: 30px;
    left: 15px;
    visibility: hidden;
}
#head ul li:hover ul{
    visibility: visible;
    background-color: darkorange;
}
#head a {
    color: #fff;
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
}
#head li a {
    border-right: 1px solid #576979;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
#head li:last-child a {
    border-right: 0;
}
#head a:hover, head a:active {
    background-color: #8c99a4;
}
#head a#pull {
    display: none;
}
/*menu ngang*/
/* Tất cả các màn hình có độ phân giải thấp nhất là 1001px */
@media all and (min-width: 1001px){
    /*body{*/
    /*width: 980px;*/
    /*}*/
    #banner{
        background-color: snow;
    }
    #header{
        /*height: 100px;*/
        width: 1200px;
        margin: auto;
        background-color: darkorange;
    }
}
/* Màn hình có độ phân giải tối đa 1000px */
@media screen and (max-width: 1000px) {
    #banner{
        width: 100%;
        background-color: snow;
    }
    #logo{
        margin-left: 1px;
        float: left;
    }
    /*#search{*/
    /*float: left;*/
    /*}*/
    #header{
        width: 100%;
        height: auto;
        background-color: darkorange;
    }
    #main{
        float: none;
        width: 100%;
    }
    #left{
        display: none;
    }
    #content{
        width: 100%;
        min-height: 2850px;
        margin: auto;
    }
    #footer{
        width: 100%;
        clear: both;
        margin-top: 530px;
    }
    /*menu ngang*/
    #head {
        border-bottom: 0;
    }
    #head ul {
        display: none;
        height: auto;
    }
    #head ul ul{
        z-index: 999;
    }
    #head a#pull {
        display: block;
        background-color: gray;
        width: 100%;
        clear: both;
    }
    #head a#pull:after {
        content:"";
        background: url("../image/menu1600.png") no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
    }
    /*menu ngang*/
    /*tim kiem*/
    #search{
        width: 100%;
        height: 30px;
        top: 0px;
        position: fixed;
        /*display: none;*/
    }
    #formsearch{
        margin-top: 0px;
        width: 70%;
        float: left;
        margin-left: auto;
    }
    #timkiem{
        margin-top: 0px;
        width: 10%;
        float: left;
    }
}